extensions:
	slimApi: BrandEmbassy\Slim\DI\SlimApiExtension

slimApi:
	slimConfiguration:
		settings:
			removeDefaultHandlers: true

services:
	- Caloriary\Infrastructure\API\Handler\NotFoundHandler
	- Caloriary\Infrastructure\API\Handler\NotAllowedHandler
	- Caloriary\Infrastructure\API\Handler\ApiErrorHandler

parameters:
	api:
		handlers:
			notFound: Caloriary\Infrastructure\API\Handler\NotFoundHandler
			notAllowed: Caloriary\Infrastructure\API\Handler\NotAllowedHandler
			error: Caloriary\Infrastructure\API\Handler\ApiErrorHandler

		routes:
			api:
				"1.0":
					/login:
						post:
							service: Caloriary\Infrastructure\API\Action\LoginAction

					/users:
						get:
							service: Caloriary\Infrastructure\API\Action\ListUsersAction

						post:
							service: Caloriary\Infrastructure\API\Action\RegisterUserAction

					"/users/{userId}":
						get:
							service: Caloriary\Infrastructure\API\Action\UserDetailAction

						put:
							service: Caloriary\Infrastructure\API\Action\EditUserAction

						delete:
							service: Caloriary\Infrastructure\API\Action\DeleteUserAction

					/entries:
						get:
							service: Caloriary\Infrastructure\API\Action\ListEntriesAction

						post:
							service: Caloriary\Infrastructure\API\Action\AddEntryAction

					"/entries/{entryId}":
						get:
							service: Caloriary\Infrastructure\API\Action\EntryDetailAction

						put:
							service: Caloriary\Infrastructure\API\Action\EditEntryAction

						delete:
							service: Caloriary\Infrastructure\API\Action\DeleteEntryAction


# Will we need this?:
#					"/users/{userId}/entries": []
