extensions:
	slimApi: BrandEmbassy\Slim\DI\SlimApiExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	dbal: Nettrine\DBAL\DI\DbalExtension
	orm: Nettrine\ORM\DI\OrmExtension
	orm.cache: Nettrine\ORM\DI\OrmCacheExtension
	orm.console: Nettrine\ORM\DI\OrmConsoleExtension
	orm.xml: Nettrine\ORM\DI\OrmXmlExtension
	migrations: Nettrine\Migrations\DI\MigrationsExtension

slimApi:
	slimConfiguration:
		settings:
			removeDefaultHandlers: true

dbal:
	connection:
		host: mysql
		user: root
		password:
		dbname: caloriary
		types:
			Caloriary\Authentication\Value\EmailAddress:
				class: Caloriary\Infrastructure\Authentication\DBAL\Type\EmailAddressType
				commented: true
			Caloriary\Authentication\Value\PasswordHash:
				class: Caloriary\Infrastructure\Authentication\DBAL\Type\PasswordHashType
				commented: true
			Caloriary\Authorization\Value\UserRole:
				class: Caloriary\Infrastructure\Authorization\DBAL\Type\UserRoleType
				commented: true
			Caloriary\Calories\Value\CaloricRecordId:
				class: Caloriary\Infrastructure\Calories\DBAL\Type\CaloricRecordIdType
				commented: true
			Caloriary\Calories\Value\Calories:
				class: Caloriary\Infrastructure\Calories\DBAL\Type\CaloriesType
				commented: true
			Caloriary\Calories\Value\DailyCaloriesLimit:
				class: Caloriary\Infrastructure\Calories\DBAL\Type\DailyCaloriesLimitType
				commented: true
			Caloriary\Calories\Value\MealDescription:
				class: Caloriary\Infrastructure\Calories\DBAL\Type\MealDescriptionType
				commented: true

orm.xml:
	paths:
		- %appDir%/../../mappings

migrations:
	directory: %appDir%/../../migrations
	versionsOrganization: year_and_month

services:
	- Caloriary\Application\Handler\NotFoundHandler
	- Caloriary\Application\Handler\NotAllowedHandler
	- Caloriary\Application\Handler\ApiErrorHandler
	- Caloriary\Application\Action\LoginAction
	- Caloriary\Application\Action\ListUsersAction
	- Caloriary\Application\Action\RegisterUserAction
	- Caloriary\Application\Action\UserDetailAction
	- Caloriary\Application\Action\EditUserAction
	- Caloriary\Application\Action\DeleteUserAction
	- Caloriary\Application\Action\ListEntriesAction
	- Caloriary\Application\Action\AddEntryAction
	- Caloriary\Application\Action\EntryDetailAction
	- Caloriary\Application\Action\EditEntryAction
	- Caloriary\Application\Action\DeleteEntryAction

parameters:
	api:
		handlers:
			notFound: Caloriary\Application\Handler\NotFoundHandler
			notAllowed: Caloriary\Application\Handler\NotAllowedHandler
			error: Caloriary\Application\Handler\ApiErrorHandler
			phpError: Caloriary\Application\Handler\ApiErrorHandler

		routes:
			api:
				'1.0':
					/login:
						post:
							service: Caloriary\Application\Action\LoginAction

					/users:
						get:
							service: Caloriary\Application\Action\ListUsersAction

						post:
							service: Caloriary\Application\Action\RegisterUserAction

					"/users/{userId}":
						get:
							service: Caloriary\Application\Action\UserDetailAction

						put:
							service: Caloriary\Application\Action\EditUserAction

						delete:
							service: Caloriary\Application\Action\DeleteUserAction

					/entries:
						get:
							service: Caloriary\Application\Action\ListEntriesAction

						post:
							service: Caloriary\Application\Action\AddEntryAction

					"/entries/{entryId}":
						get:
							service: Caloriary\Application\Action\EntryDetailAction

						put:
							service: Caloriary\Application\Action\EditEntryAction

						delete:
							service: Caloriary\Application\Action\DeleteEntryAction


# Will we need this?:
#					"/users/{userId}/entries": []
